#forgot {
    width: 250px;
    height: 250px;
}

#container-info {
    width: 700px;
}

#contendor-main {
    display: flex;
    align-items: center;
}

#options {
    display: flex;
    align-items: center;
}

#intro-code {
    /*visibility: hidden;*/
}




@media screen and (max-width: 600px){
    #forgot {
        display: none;
    }

    #container-info {
        width: 90%;
    }


}


















