#body {
    background: url("../assets/backgrounds/inicio_sesion_.png");
}

#contenido-incio {
    background: #fff;
    color: #212121;
    width: 500px;
}


















