<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8">
        <title>Hola, {{data.username}} este es tu codigo de recuperacion!</title>

        <!-- CDN Bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container my-1 p-2 border">
            <h1>Espero la proxima vez no la pierdas</h1>
            <p><code>{{data.code}}</code> Que tengas un buen dia {{username}}:D</p>
            <small>&copy;Flask todo APP</small>
        </div>
    </body>

</html>