<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8">
        <title>Olvido contraseña - Codigo</title>

         <!-- CDN Bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>

    <body>

        <div class="container my-5 p-4 border" id="intro-code">
            <h1>Hola, {{data.name}}!!</h1>
            <h2>Introduce el codidgo que hemos enviado a: {{data.email}}</h2>

            <form method="post" class="mt-4">
                <div class="form-group">
                    <label for="code-num">Código: </label>
                    <input type="text" id="code-num" class="form-control" placeholder="ej: 948928" maxlength="6" name="codeInput">
                </div>

                <input type="submit" value="listo" class="btn btn-primary mt-4">
            </form>
        </div>


         <!-- Parte para los flash messages -->
        <div class="container my-1 p-2">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <div class="alert alert-warning alert-dismissible fade show my-1">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Upps...!!</strong>{{msg}}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>


    </body>


</html>









