<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Olvido contraseña - ultimo paso!</title>

        <!-- CDN Bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container-fluid p-3 my-4">

            <div class="container my-3 p-4 border">
                <form action="" method="post">

                    <h2 class="mb-3">Ultimo paso!</h2>
                    <p>Crea una nueva contraseña</p>

                    <div class="form-group">
                        <label for="passCamp1">Nueva contraseña</label>
                        <input type="password" required id="passCamp1" class="form-control" name="passCamp1" minlength="6">
                        <p id="que-tan-segura"></p>
                    </div>
                    <div class="form-group my-2">
                        <label for="passCamp2">Reafirma la contraseña</label>
                        <input type="password" required id="passCamp2" class="form-control" name="passCamp2" minlength="6">
                    </div>

                    <input type="submit" class="btn btn-primary my-3" value="Lo tengo!" id="listo">

                </form>
            </div>
        </div>

        <div class="container my-3 p-2">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <div class="alert alert-warning alert-dismissible fade show my-1">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Upps...!!</strong>{{msg}}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>


    </body>

</html>





