<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Al parecer has olvidado la contraseña</title>
        <link rel="stylesheet" href="../static/css/forgot_password.css">

        <!-- CDN Bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <!-- Perdon, ya sabemos que esto no es buena practica. Pero crear
         un archivo solo para un background? -->
        <style>
            body {
                background: url("../static/assets/backgrounds/bg_demas.png");
            }
            #contendor-main {
                background-color: white;
            }
        </style>
    </head>

    <body>

        <div class="container my-5 p-4 border" id="contendor-main">

            <div class="container my-2 p-3 border" id="container-info">
                <form action="" method="post">

                    <h2 class="mb-3">Al parecer has olvidado la contraseña</h2>
                    <p>Si nos das de nuevo tu correo podemos enviarte un correo
                    para que la recuperes</p>

                    <div class="form-group">
                        <label for="email_forgot">Correo electronico</label>
                        <input type="email" required id="email_forgot" class="form-control" name="email">
                    </div>


                    <div class="container" id="options">
                        <input type="submit" class="btn btn-primary mt-4" value="Ya esta!">
                        <a href="{{url_for('inicio_sesion')}}" class="ml-3">Si ya te acordaste puedes volver!</a>
                    </div>

                </form>
            </div>

            <img src="../static/assets/img/fotgot_password.svg" id="forgot">

        </div>


        <!-- Parte para los flash messages -->
        <div class="container my-1 p-2">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <div class="alert alert-warning alert-dismissible fade show my-1">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Upps...!!</strong>{{msg}}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>


    </body>
</html>













